<%= link_to("<< Back to list",{:action => 'index'}, :class => 'back-link') %>
<div class="student show">
<h2>Show Subjects </h2>
  <table summary="student detail  show">
    <tr>
      <th>Sname</th>
        <td><%= @student.sname %></td>
    </tr>
    <tr>
      <th>Smarks</th>
        <td><%= @subject.smarks %></td>
    </tr>
    <tr>
      <th>Sdob</th>
        <td><%= @subject.sdob %></td>
    </tr>
  </table>
</div>  

    

  <!-- 
  <table summary="Subject from  fields">
  <%#= render( :partial => "form", :locals =>{ :f => f}) %>
  </table>
 -->
